{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="text-xl" style="text-align: center; font-size:40px; font-weight:500; color:purple; margin-top: 50px;">About Linkyo</h1><br>
    <div style="display: grid; gap: 20px;">
    <p style="text-align: center; font-size: 1.6rem;"><strong>Linkyo</strong> is a link management application developed by our team.<br>
        It allows users to efficiently manage and organize custom links<br> for their business, social media, and other purposes.<br>
        </p>
        <p style="text-align: center; font-size: 1.6rem;">
        The app offers features such as link organisation, grouping links <br> into categories, a user dashboard, and custom link creation.<br>
        Our aim is to provide users with a streamlined soultion for <br> managing their links effectively.
    </p>
    </div>
{% endblock %}