{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="text-xl" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 3rem; font-weight: 500; color: white; animation: myAnimation 10s infinite linear; transform-origin: center; background-color: purple; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 0.8em;">Welcome to Linkyo</h1>

<style>
@keyframes myAnimation {
    0% { transform: translateX(-250%); }
    100% { transform: translateX(200%); }
}
</style>



{% endblock %}